*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Courier New', Courier, monospace;
  color: #bf9816;
  background-color: #1A2421;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 10px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid yellowgreen;
  }
  
  .logo{
    letter-spacing: -0.03em;
    word-spacing: 0;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .verify{
    white-space: nowrap;
    font-size: 0.9rem;
  }

.steps {
  padding-left: 0;
  margin-top: 40px;
}

.steps h2{
  font-size: 1rem;
  font-weight: 300;
}

.steps .can{
  font-weight: bold;
}

.loc{
  margin-top: 20px;
  font-size: 1.7rem;
  margin-bottom: 20px;
  white-space: nowrap;
  font-weight: bold;
}

.button-cont{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  
}

.button-cont button{
  background-color: #1A2421;
  border-radius: 5px;
  text-align: center;
  border-color: yellowgreen;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  color: #bf9816;
  padding: 10px 20px;
}

.button-cont button:hover {
  background-color: #bf9816;
  color: #1A2421;
}

.country-row{
  display: flex;
  gap: 50px;
  align-items: flex-start;
  padding: 0 20px 20px;
  border-bottom: 2px solid yellowgreen;
}


.country{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.country p{
  font-weight: bold;
}

.country button {
  background-color: #1A2421;
  border-radius: 5px;
  text-align: center;
  border-color: yellowgreen;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  color: #bf9816;
  padding: 10px 20px;
}

.country button:hover {
  background-color: #bf9816;
  color: #1A2421;
}

.step-container {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  align-items: flex-start;
  padding: 0 20px 20px;
}

.step-container h3{
  font-weight: 300;
}

.question {
  font-size: 1.9rem;
  margin-top: 15px;
  font-weight: bold;
}

.btn2 {
  margin: 25px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  
}

.btn2 button {
background-color: #1A2421;
border-radius: 5px;
text-align: center;
border-color: yellowgreen;
cursor: pointer;
font-size: 1rem;
transition: 0.3s;
color: #bf9816;
padding: 20px 30px;
}

.btn2 button:hover {
  background-color: #bf9816;
  color: #1A2421;
}

.consent-section{
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 30px;
  border-bottom: 2px solid yellowgreen;
}

.consent input{
  margin-top: 4px;
  cursor: pointer;
}

.proceed {
  margin: 30px auto;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: greenyellow;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  display: block;
}